<!DOCTYPE html>
<html>
    <%- include("./partials/head")%>

    <body>

       <%- include("./partials/header")%>


        <section>
            <img class="banner" src="images/bannerFila.jpg" alt="banner" >
        </section>

        <main>
            <section>
                
                <h3>Recomendaciones</h3>
                <div class="producto"> 
                    <img class="imagenProducto" src="images/nike1.jpg" width="360" alt="Nike Revolution 6">
                    <i class="fas fa-truck green_truck"></i>
                    <br><br><hr/>
                    <p>$13.499</p>
                    <p>10% off</p>
                    <h4>Nike Revolution 6 Next Nature</h4>
                </div>

                <div class="producto">  
                    <img class="imagenProducto" src="images/nike2.jpg" width="360" alt="Nike Air Max Intrlk">
                    <i class="fas fa-truck green_truck"></i>
                    <br><br><hr/>
                    <p>$17.499</p>
                    <p>10% off</p>
                    <h4>Nike Air Max Intrlk 75</h4>
                </div>
                 <div class="producto"> 
                    <img class="imagenProducto" src="images/remera1.jpg" width="360" alt="Remera Fila Animal">
                    <i class="fas fa-truck green_truck"></i>
                    <br><br><hr/>
                    <p>$5.499</p>
                    <p>15% off</p>
                    <h4>Remera Fila Animal</h4>
                </div>
    
                <div class="producto">   
                    <img class="imagenProducto" src="images/buzo1.jpg" width="360" alt="Buzo Umbro Est">
                    <i class="fas fa-truck green_truck"></i>
                    <br><br><hr/>
                    <p>$7.749</p>
                    <p>10% off</p>
                    <h4>Buzo Umbro Est. Champions</h4>
                </div>
    
                <div class="producto"> 
                    <img class="imagenProducto" src="images/campera1.jpg" width="360" alt="Puma Warmcell Lightweight">
                    <i class="fas fa-truck green_truck"></i>
                    <br><br><hr/>
                    <p>$21.499</p>
                    <p>20% off</p>
                    <h4>Puma Warmcell Lightweight</h4>
                </div>
    
                <div class="producto"> 
                    <img class="imagenProducto" src="images/conjunto1.jpg" width="360" alt="Topper Deportivo">
                    <i class="fas fa-truck green_truck"></i>
                    <br><br><hr/>
                    <p>$10.499</p>
                    <p>15% off</p>
                    <h4>Conjunto Topper Deportivo</h4>
                </div>                   
    
                   
                       
            
            </section>
        </main>

       <%- include("./partials/footer")%>
        
    </body>
</html>
