<!DOCTYPE html>
<html>

    <%- include("./partials/head")%>


    <%- include("./partials/header")%>
   
    <body>

        <section class="centro">

            
        <nav class="ventana">
            <h2>Iniciar Sesión</h2>
            <br>
            <strong>Email</strong>
                <input type="text" id="email" name="email" placeholder="Ingresa tu E-mail">
            
            <br><br>

            <strong>Contraseña</strong>
                <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required>

            <br><br>

            <input type="submit" value="Enviar">

            <br><br>

            <p><a href="#" class="hovertext" data-hover="Recuperar Contraseña">¿Olvidaste tu Contraseña?</a></p>
            <br>

        </nav>  

        <br>

        <hr/>

        <br> 

        <nav class="ventana">

            <h2>Registrarme</h2>
            <br>

            <strong>Nombre</strong>
            <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu Nombre" required>

            <br><br>

            <strong>Apellido</strong>
            <input type="text" id="apellido" name="apellido" placeholder="Ingresa tu Apellido" required>

            <br><br>

            <strong>Fecha de Nacimiento</strong>
            <input type="date" id="nacimiento" name="nacimiento" placeholder="Ingresa tu Fecha de Nacimiento" required>

            <br><br>

            <strong>Email</strong>
                <input type="text" id="email" name="email" placeholder="Ingresa tu Email" required>

            <br><br>

            <strong>DNI</strong>
            <input type="number" id="dni" name="dni" placeholder="Ingresa tu DNI" required>

            <br><br>

            <strong>Telefono</strong>
                <input type="text" id="cel" name="cel" placeholder="Ingresa tu Telefono" required>

            <br><br>

            <strong>Género</strong><br>
                <label for="">Mujer</label>
                    <input type="radio" name="género" id="mujer" checked><br>
                <label for="">Hombre</label>
                    <input type="radio" name="género" id="hombre"><br>

            <br><br>

            <input type="submit" value="Enviar">

            
            <br><br>

            <button><a href="/">Home</a></button><br><br>
            
            <br><br>

        </nav>  
        </section>

        <%- include("./partials/footer")%>



    </body>
</html>
