<!DOCTYPE html>
<html>

    <%- include("./partials/head")%>
    <link rel="stylesheet" href="/css/style_index.css">

<body>

       <%- include("./partials/nav")%>

    <main>
  
        <div class="conteiner">

            <div class="publicidad">

                 <div class="publicidad-conteiner">

                    <i class="fas fa-angle-left"></i>
                    <img src="../img/banners/nike.png" alt ="Publicidad Nike" class="img">
                    <i class="fas fa-angle-right"></i>

                 </div>

            </div>

            <div class="categorias">

                 <div class="categorias-conteiner">
            
                        <div class="hombre">                    
                            <div class="text">
                               <h3>HOMBRE</h3>
                            </div>
                        </div>          
            
                        <div class="mujer">
                            <div class="text">
                                <h3>MUJER</h3>
                            </div>
                        </div>

                        <div class="kids">
                            <div class="text">
                               <h3>NIÑOS</h3>
                            </div>
                        </div>

                        <div class="accesorios">
                            <div class="text">
                              <h3>ACCESORIOS</h3>
                            </div>
                        </div>            
                 </div>

            </div>

            <div class="registro">

                <div class="regristro-texto">
                    <p class="registro-texto-p">Completa el registro en este momento y empeza a disfrutar de las promociones exclusivas</p>
                </div>
        
                <div class="btn">
                    <a href ="/users/register" class="btn-register">REGISTRATE</a>                     
                </div>
    
            </div>

            <div class="marcas">

                <div class="nombre-marca">
                    <img src="../img/banners/logoadidas.png">
                    <h4 class="marca">Adidas</h4>
                </div>

                <div class="nombre-marca">
                    <img src="../img/banners/logonike.png">
                    <h4 class="marca">Nike</h4>
                </div>

                <div class="nombre-marca">
                    <img src="../img/banners/logopuma.png">
                    <h4 class="marca">Puma</h4>
                </div>

                <div class="nombre-marca">
                    <img src="../img/banners/logoumbro.png">
                    <h4 class="marca">Umbro</h4>
                </div>

                <div class="nombre-marca">
                    <img src="../img/banners/logofila.png">
                    <h4 class="marca">Fila</h4>
                </div>

            </div>   
        
         </div>      

    </main>

       <%- include("./partials/footer")%>
        
    </body>

</html>

<script src="/js/js-front.js" type="text/javascript"></script>
