<footer>

    <nav class="pieDePagina">
        <strong>Institucional</strong>

        <section>
            <ul class="list">
                <li>¿Quienes Somos?</li>
                <li>Politicas de Privacidad</li>
                <li>Términos y Condiciones</li>
                <li>Protocolos COVID-19</li>
            </ul>
        </section>
    </nav>

    <nav class="pieDePagina">
        <strong>Ayuda</strong>

        <section>
            <ul class="list">
                <li>Preguntas Frecuentes</li>
                <li>¿Cómo comprar?</li>
                <li>Entregas</li>
                <li>Cambios</li>
            </ul>
        </section>
    </nav>

    <nav class="pieDePagina">
        <strong>Redes Sociales</strong>

        <section>
            <ul class="list">
                <li>Twitter</li>
                <li>Facebook</li>
                <li>Instagram</li>
            </ul>
        </section>
    </nav>

    <nav class="pieDePagina">
        <strong>Centro de Atención al Cliente</strong>

        <section>
            <ul class="list">
                <li>Mail</li>
                <li>Whatsapp</li>
                <li>0800-5761-1521</li>
            </ul>
        </section>
    </nav>
    </section>

</footer>

<em class="razon_social">Copyright © 2022 ESports S.R.L.</em>