<header> 

    <p class="inicio">Envios gratis desde $10000</p>
    <img src="images/logoo.png" width="360" alt="Logo" class="logo"> 
    
    <div class="left">
        <input type="text"; placeholder="Buscar productos, marca...">
            <i class="fas fa-search"></i>
    </div>

    <br>

    <nav>

        <ul>
            <li><a href="login">Crea tu cuenta</a></li>
            <li><a href="carrito">Mis Compras</a></li>
            <li><a href="vistaProducto">Favoritos</a></li>
            <li><a href="#">Hombres</a></li>
            <li><a href="#">Mujeres</a></li>
            <li><a href="#">Infantil</a></li>
            <li><a href="#">Sale</a></li>
            <li><a href="edicionProductos">Administradores</a></li>
        </ul>

    </nav>

</header>