<!DOCTYPE html>
<html>

    <head>
        <title> Producto </title>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/styles.css">
    
    </head>

    <body>

        <header> 

            <p class="inicio">Envios gratis desde $10000</p>
            <img src="images/logoo.png" class="logo" alt="Logo" width="360">
            
            <div class="left">
                <input type="text"; placeholder="Buscar productos, marca...">
                    <i class="fas fa-search"></i>
            </div>
            
            <br>
    
            <nav>
    
                <ul>
                    <li><a href="login">Crea tu cuenta</a></li>
                    <li><a href="carrito">Mis Compras</a></li>
                    <li><a href="vistaProducto">Favoritos</a></li>
                    <li><a href="#">Hombres</a></li>
                    <li><a href="#">Mujeres</a></li>
                    <li><a href="#">Infantil</a></li>
                    <li><a href="#">Sale</a></li>
                </ul>
    
            </nav>    

        </header>

        <main>
            <nav>
            <div class="producto">
            <img class="imagenProducto" src="images/nike2.jpg" alt="Nike Air Max Intrlk">
           
            <strong class="ProductName">Nike Revolution 6 Next Nature</strong>
            <p>10% OFF</p>
            <p>$13.499</p>

            <br><br>

            <strong>Tallas</strong><br>
                <label for="">S</label>
                    <input type="radio" name="talla" id="s" checked><br>
                <label for="">M</label>
                    <input type="radio" name="talla" id="m" checked><br>
                <label for="">L</label>
                    <input type="radio" name="talla" id="l" checked><br>
                <label for="">XL</label>
                    <input type="radio" name="talla" id="xl" checked><br>

            </div>

            <br><br>

            <input type="submit" value="Comprar">

            <br><br>

            <button><a href="/">Home</a></button><br><br>
            
            <br><br>

            </nav>

        </main>

    </body>

    <footer>

        <nav class="pieDePagina">
            <strong>Institucional</strong>

            <section>
                <ul class="list">
                    <li>¿Quienes Somos?</li>
                    <li>Politicas de Privacidad</li>
                    <li>Términos y Condiciones</li>
                    <li>Protocolos COVID-19</li>
                </ul>
            </section>
        </nav>

        <nav class="pieDePagina">
            <strong>Ayuda</strong>

            <section>
                <ul class="list">
                    <li>Preguntas Frecuentes</li>
                    <li>¿Cómo comprar?</li>
                    <li>Entregas</li>
                    <li>Cambios</li>
                </ul>
            </section>
        </nav>

        <nav class="pieDePagina">
            <strong>Redes Sociales</strong>

            <section>
                <ul class="list">
                    <li>Twitter</li>
                    <li>Facebook</li>
                    <li>Instagram</li>
                </ul>
            </section>
        </nav>

        <nav class="pieDePagina">
            <strong>Centro de Atención al Cliente</strong>

            <section>
                <ul class="list">
                    <li>Mail</li>
                    <li>Whatsapp</li>
                    <li>0800-5761-1521</li>
                </ul>
            </section>
        </nav>
        </section>
    
    </footer>

    <em class="razon_social">Copyright © 2022 ESports S.R.L.</em>

    </body>
</html>

