<!DOCTYPE html>
<html>

    <head>
        <title> E-Sport </title>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/styles.css">
      
    </head>


    <body>

        <header> 

            <p class="inicio">Envios gratis desde $10000</p>
            <img src="images/logoo.png" width="360" alt="Logo" class="logo"> 
            
            <div class="left">
                <input type="text"; placeholder="Buscar productos, marca...">
                    <i class="fas fa-search"></i>
            </div>

            <br>

            <nav>

                <ul>
                    <li><a href="login">Crea tu cuenta</a></li>
                    <li><a href="carrito">Mis Compras</a></li>
                    <li><a href="vistaProducto">Favoritos</a></li>
                    <li><a href="#">Hombres</a></li>
                    <li><a href="#">Mujeres</a></li>
                    <li><a href="#">Infantil</a></li>
                    <li><a href="#">Sale</a></li>
                </ul>

            </nav>

        </header>


        <section>
            <img class="banner" src="images/bannerFila.jpg" alt="banner" >
        </section>

        <main>
            <section>
                
                <h3>Recomendaciones</h3>

                <div class="producto"> 
                <img class="imagenProducto" src="images/nike1.jpg" width="360" alt="Nike Revolution 6">
                <i class="fas fa-truck green_truck"></i>
                <br><br><hr/>
                <p>$13.499</p>
                <p>10% off</p>
                <h4>Nike Revolution 6 Next Nature</h4>
                </div>

                <div class="producto">  
                <img class="imagenProducto" src="images/nike2.jpg" width="360" alt="Nike Air Max Intrlk">
                <i class="fas fa-truck green_truck"></i>
                <br><br><hr/>
                <p>$17.499</p>
                <p>10% off</p>
                <h4>Nike Air Max Intrlk 75</h4>
                </div>

                <div class="producto"> 
                <img class="imagenProducto" src="images/remera1.jpg" width="360" alt="Remera Fila Animal">
                <i class="fas fa-truck green_truck"></i>
                <br><br><hr/>
                <p>$5.499</p>
                <p>15% off</p>
                <h4>Remera Fila Animal</h4>
                </div>

                <div class="producto">   
                <img class="imagenProducto" src="images/buzo1.jpg" width="360" alt="Buzo Umbro Est">
                <i class="fas fa-truck green_truck"></i>
                <br><br><hr/>
                <p>$7.749</p>
                <p>10% off</p>
                <h4>Buzo Umbro Est. Champions</h4>
                </div>

                <div class="producto"> 
                <img class="imagenProducto" src="images/campera1.jpg" width="360" alt="Puma Warmcell Lightweight">
                <i class="fas fa-truck green_truck"></i>
                <br><br><hr/>
                <p>$21.499</p>
                <p>20% off</p>
                <h4>Puma Warmcell Lightweight</h4>
                </div>

                <div class="producto"> 
                <img class="imagenProducto" src="images/conjunto1.jpg" width="360" alt="Topper Deportivo">
                <i class="fas fa-truck green_truck"></i>
                <br><br><hr/>
                <p>$10.499</p>
                <p>15% off</p>
                <h4>Conjunto Topper Deportivo</h4>
                </div>

            </section>
        </main>

        <footer>

            <nav class="pieDePagina">
                <strong>Institucional</strong>

                <section>
                    <ul class="list">
                        <li>¿Quienes Somos?</li>
                        <li>Politicas de Privacidad</li>
                        <li>Términos y Condiciones</li>
                        <li>Protocolos COVID-19</li>
                    </ul>
                </section>
            </nav>

            <nav class="pieDePagina">
                <strong>Ayuda</strong>

                <section>
                    <ul class="list">
                        <li>Preguntas Frecuentes</li>
                        <li>¿Cómo comprar?</li>
                        <li>Entregas</li>
                        <li>Cambios</li>
                    </ul>
                </section>
            </nav>

            <nav class="pieDePagina">
                <strong>Redes Sociales</strong>

                <section>
                    <ul class="list">
                        <li>Twitter</li>
                        <li>Facebook</li>
                        <li>Instagram</li>
                    </ul>
                </section>
            </nav>

            <nav class="pieDePagina">
                <strong>Centro de Atención al Cliente</strong>

                <section>
                    <ul class="list">
                        <li>Mail</li>
                        <li>Whatsapp</li>
                        <li>0800-5761-1521</li>
                    </ul>
                </section>
            </nav>
            </section>
        
        </footer>

        <em class="razon_social">Copyright © 2022 ESports S.R.L.</em>
        
    </body>
</html>
