<!DOCTYPE html>
<html>

    <head>
        <title> Login </title>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/styles.css">
    
    </head>

    
    <header> 

        <p class="inicio">Envios gratis desde $10000</p>
        <img src="images/logoo.png" class="logo" alt="Logo">
        
        <div class="left">
            <input type="text"; placeholder="Buscar productos, marca...">
                <i class="fas fa-search"></i>
        </div>
        
        <br>

        <nav>

            <ul>
                <li><a href="#">Crea tu cuenta</a></li>
                <li><a href="#">Mis Compras</a></li>
                <li><a href="#">Favoritos</a></li>
                <li><a href="#">Hombres</a></li>
                <li><a href="#">Mujeres</a></li>
                <li><a href="#">Infantil</a></li>
                <li><a href="#">Sale</a></li>
            </ul>

        </nav>

    </header>

    <body>

        <section class="centro">

            
        <nav class="ventana">
            <h2>Iniciar Sesión</h2>
            <br>
            <strong>Email</strong>
                <input type="text" id="email" name="email" placeholder="Pon tu pinchi email, vato">
            
            <br><br>

            <strong>Contraseña</strong>
                <input type="password" id="password" name="password" placeholder="Pon tu pinchi email, vato" required>

            <br><br>

            <input type="submit" value="Enviar">

            <br><br>

            <p><a href="#" class="hovertext" data-hover="Todo wey...">¿Olvidaste tu Contraseña?</a></p>
            <br>

        </nav>  

        <br>

        <hr/>

        <br> 

        <nav class="ventana">

            <h2>Registrarme</h2>
            <br>

            <strong>Nombre</strong>
            <input type="text" id="nombre" name="nombre" placeholder="Pon tu pinchi nombre, vato" required>

            <br><br>

            <strong>Apellido</strong>
            <input type="text" id="apellido" name="apellido" placeholder="Pon tu pinchi apellido, vato" required>

            <br><br>

            <strong>Fecha de Nacimiento</strong>
            <input type="date" id="nacimiento" name="nacimiento" placeholder="Pon tu pinchi apellido, vato" required>

            <br><br>

            <strong>Email</strong>
                <input type="text" id="email" name="email" placeholder="Pon tu pinchi email, vato" required>

            <br><br>

            <strong>DNI</strong>
            <input type="number" id="dni" name="dni" placeholder="Pon tu pinchi IFE, vato" required>

            <br><br>

            <strong>Telefono</strong>
                <input type="text" id="cel" name="cel" placeholder="Pon tu pinchi cel, vato" required>

            <br><br>

            <strong>Género</strong><br>
                <label for="">Mujer</label>
                    <input type="radio" name="género" id="mujer" checked><br>
                <label for="">Hombre</label>
                    <input type="radio" name="género" id="hombre"><br>

            <br><br>

            <input type="submit" value="Enviar">

            <br><br>

        </nav>  
        </section>

        <footer>

            <nav class="pieDePagina">
                <strong>Institucional</strong>

                <section>
                    <ul class="list">
                        <li>¿Quienes Somos?</li>
                        <li>Politicas de Privacidad</li>
                        <li>Términos y Condiciones</li>
                        <li>Protocolos COVID-19</li>
                    </ul>
                </section>
            </nav>

            <nav class="pieDePagina">
                <strong>Ayuda</strong>

                <section>
                    <ul class="list">
                        <li>Preguntas Frecuentes</li>
                        <li>¿Cómo comprar?</li>
                        <li>Entregas</li>
                        <li>Cambios</li>
                    </ul>
                </section>
            </nav>

            <nav class="pieDePagina">
                <strong>Redes Sociales</strong>

                <section>
                    <ul class="list">
                        <li>Twitter</li>
                        <li>Facebook</li>
                        <li>Instagram</li>
                    </ul>
                </section>
            </nav>

            <nav class="pieDePagina">
                <strong>Centro de Atención al Cliente</strong>

                <section>
                    <ul class="list">
                        <li>Mail</li>
                        <li>Whatsapp</li>
                        <li>0800-5761-1521</li>
                    </ul>
                </section>
            </nav>
            </section>
        
        </footer>

        <em class="razon_social">Copyright © 2022 ESports S.R.L.</em>



    </body>
</html>
